* {
  box-sizing: border-box;
}

/* 设置 body 的样式 */
body {
  font-family: Arial;
  margin: 0 auto;
  width: 71%;
}

/* 页眉/LOGO */
.header {
    background-color: #ffffff;
    color: #000000;
    padding: 15px;
}

/* 设置顶部导航栏的样式 */
.navbar {
  display: flex;
  background-color: #333;
}

/* 设置导航栏链接的样式 */
.navbar a {
  color: white;
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

/* 当鼠标悬停时改变颜色 */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* 列容器 */
.row {  
  display: flex;
  flex-wrap: wrap;
}

/* 创建两个并排的等列 */
/* Sidebar/left column */
.side {
  flex: 20%;
  background-color: #f1f1f1;
  padding: 20px;
  height: 180%;
}

/* 主列 */
.main {
  flex: 60%;
  background-color: white;
  padding: 20px;
  height: 180%;
  max-width: 100%;
}

.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* 页脚 */
.footer {
    padding: 20px;
  text-align: center;
  background: #ddd;
}

.zhx{ 
    text-decoration:line-through
}

#code{
    flex: 60%;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 2px;
    padding: 5px;
    background-color: #fafafa;
    
    overflow: auto;
}

#article{
    flex: 60%;
    border-style: solid;
    border-color: #e6e6e6;
    border-width: 1px;
    width: 100%;
    padding: 4px;
    
}

#gitalk-container {
    max-width: 600px;
    margin: 0 auto;
        }

a {
    color: #000000;
    text-decoration: underline;
}

a:hover {
    text-decoration: none;
}

#BtnTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 15px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #424242;
  color: white;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
}

#BtnTop:hover {
  background-color: #555;
}

/* 响应式布局 - 当屏幕宽度小于 700 像素时，使两列堆叠，而不是并排 */
@media (max-width: 700px) {
  .row, .navbar {   
    flex-direction: column;
  }
  .main{
    padding: 20px;
  }
  body {
  font-family: Arial;
  margin: 0 auto;
  width: 100%;
}
}
